<%- include('partials/head', {title:"FA & FA Posis 2.0 Santa Fe" }) %>

    <body>
        <div class="container">
            <!-- menu de navegacion -->
            <%- include('partials/navbar') %>
          
            <!-- animacion de uploading -->
            <%- include('partials/uploading') %>

              <!-- animacion de update data -->
              <%- include('partials/update') %>

            <!-- mensajes de informacion -->
            <%- include('partials/message') %>
            <% if(locals.num_secuencia){ %>
              <a
                class="btn_deshabilitar" 
                href="/data/deshabilitar-secuencia"
                onclick="handleSendData()"
              >
                  <i style="font-size: 20px;" class="fa-solid fa-trash"></i><span style="padding-left: 7px; text-decoration: none;">Deshabilitar secuencia</span> 
              </a>
              <%}%>
        </div>
        <script type="text/javascript" src="/script/script.js"></script>
        
        <% if (locals.alert ) { %>
        <script>                   
         
         Swal.fire({
                title: "Secuencia enviada!",
                icon: "success",
                });
        </script>
        <% } %>
        <% if (locals.sec_deshabilitada ) { %>
          <script>                   
           
           Swal.fire({
                  title: "Secuencia deshabilitada!",
                  icon: "success",
                  });
          </script>
          <% } %>
        
        <% if (locals.register ) { %>
            <script>                   
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Registro correcto!',
                showConfirmButton: false,
                timer: 1500
        })
            </script>
            <% } %>

    </body>
</html>
